@use "base/variables" as v;
@use "base/mixins" as m;

.header{
    background-color: v.$verde;

    @include m.tablet{
        &.fixed{ //Es lo que hace que la barra superiror se desplace y ademas quede marcada en que parte esta.
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            box-shadow: .1rem .2rem .3rem #333;
        }
    }

    .contenido-header{
        padding: 2rem;
        @include m.tablet { //En app.css aparece el mq y dentro el .header (El uso normal de media query)
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    h1 {
        color: v.$blanco; //En SCSS se puede anidar
        text-align: center;
        @include m.tablet { //En app.css aparece el mq y dentro el .header (El uso normal de media query)
            margin: 0;
            text-align: left;
        }
    }
}

.navegacion-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    @include m.tablet { //En app.css aparece el mq y dentro el .header (El uso normal de media query)
        flex-direction: row;
    }

    a{
        color: v.$blanco;
        font-size: 2.4rem;

        &:hover,
        &.active{ //Es la forma en SCSS para que el hover funcion y no se agregue un espacio en el app.scss
            color: v.$amarillo;
        }
    }
}



